#box {
    width: 100px;
    height: 25px;
    background: red;
    box-shadow: black 1px 1px 2px;
    -webkit-transform: translate3d(5px,0,0);
    opacity: 0.9;
    border-radius: 5px;
}


/**
STYLING
**/
span.ok:before {
    content: '[x]';
    color: green;
}

span.notok:before {
    content: '[*]';
    color: red;
}

span.comment {
    color: gray;
}